// Begin Jade template.
extends ../layout

block js-top
  script(type='text/javascript').
    var projectObj = !{JSON.stringify(project)}   

block js-bottom
  script(src='/js/stats.js')

//-HTML content to display.
block content
  #main.jumbotron
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          h1 
            img(src='/images/progress.png', style='width:50px;')
            |  Project Status
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .col-xs-12.col-sm-3.col-md-3.col-lg-3
              h5 State
              p.big-text(style='color:#64a964;text-align:left;') #{project.status}
              small.text-muted Completion Date: 
                |  #{monthNames[project.stop.getMonth()]} #{project.stop.getDate()} #{project.stop.getFullYear()} 
              br
              br
            .col-xs-12.col-sm-9.col-md-9.col-lg-9
              small Project Plan Products
              br
              br
              .col-xs-6.col-sm-4.col-md-4.col-lg-4
                .panel.panel-default(style='padding:5px 20px;')
                  h5 Total Sprints
                  p#total-sprints.big-text 0            
              .col-xs-6.col-sm-4.col-md-4.col-lg-4
                .panel.panel-default(style='padding:5px 20px;')
                  h5 Task
                  p#total-task.big-text 0   
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .panel.panel-default(style='padding:5px 20px;')
                  h5 User Stories
                  p#total-stories.big-text 0   
            .col-xs-12.col-sm-3.col-md-3.col-lg-3
              
            .col-xs-12.col-sm-9.col-md-9.col-lg-9
              small Current Work Products
              br
              br
              .col-xs-6.col-sm-4.col-md-4.col-lg-4
                .panel.panel-default(style='padding:5px 20px;background:#f9f9f9;')
                  h5 Sprint
                  p#sprint-name.big-text One            
              .col-xs-6.col-sm-4.col-md-4.col-lg-4
                .panel.panel-default(style='padding:5px 20px;background:#f9f9f9;')
                  h5 Task
                  p#total-sprint-task.big-text 0   
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .panel.panel-default(style='padding:5px 20px;background:#f9f9f9;')
                  h5 User Stories
                  p#total-sprint-stories.big-text 0   
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            h3 Burn Downs
          .col-xs-12.col-sm-6.col-md-6.col-lg-6    
            .col-xs-12.col-sm-12.col-md-12.col-lg-12       
              h5 Current Sprint Life Cycle
              .progress.progress-bar-striped(style='background: rgba(245, 245, 245, 1); border: 1px solid rgba(245, 245, 245, 1); border-radius: 7px; height: 34px;')
                #sprint-completion.progress-bar.progress-bar-custom.active(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0%;background-color: rgba(77, 77, 77, 1); background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255, 255, 255, 0.15),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255, 255, 255, 0.15)),color-stop(0.75,rgba(255, 255, 255, 0.15)),color-stop(0.75,transparent),to(transparent))); background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent); background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent); background-size: 40px 40px;padding:5px;")
                  span.sprint-completion.sr-only 0%
                  small.sprint-completion 0% 
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b Remaining Task
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b Remaining Stories
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small#remaining-sprint-task 0 
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small#remaining-sprint-stories 0
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b Time Estimate
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b On Schedule
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small#remaining-sprint-time 0 hours
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small#status-sprint-time Early
              br
              br
              br
              
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            .col-xs-12.col-sm-12.col-md-12.col-lg-12   
              h5 Project Life Cycle    
              .progress.progress-bar-striped(style='background: rgba(245, 245, 245, 1); border: 1px solid rgba(245, 245, 245, 1); border-radius: 7px; height: 34px;')
                #project-completion.project.progress-bar.progress-bar-custom.active(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0%;background-color: rgba(77, 77, 77, 1); background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255, 255, 255, 0.15),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255, 255, 255, 0.15)),color-stop(0.75,rgba(255, 255, 255, 0.15)),color-stop(0.75,transparent),to(transparent))); background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent); background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent); background-size: 40px 40px;padding:5px;")
                  span.project-completion.sr-only 0% Complete       
                  small.project-completion 0% 
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b Remaining Task
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b Remaining Stories
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small#remaining-task 0
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small#remaining-stories 0
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b Time Estimate
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b On Schedule
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small#remaining-time 0 hours
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small#status-time Early
              br
              br
  section
    #task.container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.pull-left
          h3
            span.glyphicon.glyphicon-tasks
            |   Sprint Workflow
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.pull-right
          h4 Work Products Description
          for sprint in project.iteration  
            if sprint.status == 'Active'
              if sprint.product
                p #{sprint.product} 
              else
                p No work product has been defined.
          else
            small
              b None
          br
          br
          br
        .col-xs-12.col-sm-5.col-md-4.col-lg-4.pull-left
          h4
            span.glyphicon.glyphicon-th-large
            |  Sprint Task List    
          if project
            ul.list-group
              for sprint in project.iteration
                if sprint.status == 'Active'
                  for task in project.task
                    - var taskPos = 0;
                    if task.iteration
                      if task.iteration.toString() == sprint.id.toString()
                        - function indexOfIteration(iterations, searchTerm) {
                        -     for(var i = 0, len = iterations.length; i < len; i++) {
                        -         if(iterations[i].id.toString() == searchTerm.toString()) return i;
                        -     }
                        -     return -1;
                        - }  
                        li.list-group-item
                          h4(style='margin:0px; padding:0px;') #{task.name}
                          small #{task.description}
                          br
                          h5(style=pad)
                            span.label.label-default.pull-left(style='margin-right:5px;')  #{task.status}
                            span.label.label-default.pull-right(style='margin-left:5px;', id=task.id.toString() + '-stories')
                            span.label.label-info.pull-right(id=task.id.toString() + '-weight')
                          br
                  - taskPos++;  
          else
            small
              b None
          br
          br
          br
        .col-xs-12.col-sm-7.col-md-8.col-lg-8.pull-left
          h4
            span.glyphicon.glyphicon-th
            |  Sprint Product Backlog
        .col-xs-12.col-sm-7.col-md-8.col-lg-8.pull-left
          if project
            for task in project.task
              - var storyPos = 0;
              if task.status == 'Active'
                for story in project.stories
                  if story.task
                    if story.task.toString() == task.id.toString()
                      - function indexOfTask(tasks, searchTerm) {
                      -     for(var i = 0, len = tasks.length; i < len; i++) {
                      -         if(tasks[i].id.toString() == searchTerm.toString()) return i;
                      -     }
                      -     return -1;
                      - }  
                      .col-xs-6.col-sm-6.col-md-4.col-lg-4.pull-left(style='margin:0px;padding:5px;padding-top:0px;')
                        .panel.panel-default.story-item(id=story.id, status=story.status, draggable='true')
                          .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px; padding:0px;')
                            h5(style='margin:0px; padding:0px;') #{story.name}
                          .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;margin-bottom:10px;') 
                            if story.task
                              - var pos = indexOfTask(project.task, story.task);
                              .col-xs-12.col-sm-4.col-md-4.col-lg-3(style='margin:0px; padding:0px;')
                                small(style='margin-top:0px;padding-top:0px;') 
                                  b Task:  
                              .col-xs-12.col-sm-8.col-md-8.col-lg-9(style='margin:0px; padding:0px;')
                                small(style='color:#64a964;margin-top:0px;padding-top:0px;')  #{project.task[pos].name}
                          small #{story.description}
                          br
                          h5(style='padding-bottom:10px;')
                            span.label.label-default.pull-left(style='margin-right:10px;') #{story.status}
                            if story.weight  
                              span.label.label-info.pull-right 
                                span.glyphicon.glyphicon-scale    
                                |    #{story.weight}
                - storyPos++;          
          else
            small
              b None
              br
              br
              br
  section(style='background:#fdfdfd;')
    hr(style='margin-top:0px;margin-bottom:0px;padding-top:0px;padding-bottom:0px;')
    #pbi.container
      .row
        .col-xs-12.col-sm-7.col-md-8.col-lg-8.pull-left
          h3 
            span.glyphicon.glyphicon-folder-open(style='margin-right:10px;')
            |    Product Inventory Backlog
          small User stories that are desired but will not be present in release 1.0.
          br
          br
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          if project
            - var storyPos = 0;
            for story in project.stories
              if !story.task
                  - function indexOfTask(tasks, searchTerm) {
                  -     for(var i = 0, len = tasks.length; i < len; i++) {
                  -         if(tasks[i].id.toString() == searchTerm.toString()) return i;
                  -     }
                  -     return -1;
                  - }  
                  .col-xs-6.col-sm-6.col-md-4.col-lg-3.pull-left(style='margin:0px;padding:5px;padding-top:0px;')
                    .panel.panel-default.story-item(id=story.id, status=story.status, draggable='true')
                      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px; padding:0px;')
                        h5(style='margin:0px; padding:0px;') #{story.name}
                      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;margin-bottom:10px;') 
                        if story.task
                          - var pos = indexOfTask(project.task, story.task);
                          .col-xs-12.col-sm-4.col-md-4.col-lg-3(style='margin:0px; padding:0px;')
                            small(style='margin-top:0px;padding-top:0px;') 
                              b Assigned:  
                          .col-xs-12.col-sm-8.col-md-8.col-lg-9(style='margin:0px; padding:0px;')
                            small(style='color:#64a964;margin-top:0px;padding-top:0px;')  #{project.task[pos].name}
                      small #{story.description}
                      br
                      h5(style='padding-bottom:10px;')
                        span.label.label-default.pull-left(style='margin-right:10px;') #{story.status}
                        if story.weight  
                          span.label.label-info.pull-right 
                            span.glyphicon.glyphicon-scale    
                            |    #{story.weight}
                - storyPos++;   
          else
            small
              b None
          br
          br
          br
          
