// Begin Jade template.
extends ../layout
   

mixin taskForm()   
  #task-form.modal.fade(tabindex='-1', role='dialog', aria-labelledby='taskLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        form(action='/project/create/task', method='POST')
          input(type='hidden', name='id', value=project.id)
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;
              span.sr-only Close
            h3#taskLabel.modal-title New Task
          .modal-body
            small Name
            br
            input.form-control(type='text', name='name')
            br
            small Description
            br
            textarea.form-control(type='textarea', name='description', style='min-height:150px;')
            br
          .modal-footer
            button.btn.btn-inverse(type='button', data-dismiss='modal') Cancel
            button.btn.btn-default(type='submit') Save
   
mixin storyForm()          
  #story-form.modal.fade(tabindex='-1', role='dialog', aria-labelledby='storyLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        form(action='/project/create/story', method='POST')
          input(type='hidden', name='id', value=project.id)
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;
              span.sr-only Close
            h3#storyLabel.modal-title New Story
          .modal-body
            .col-xs-8.col-sm-8.col-md-10.col-lg-10(style='padding:0px;padding-right:10px;')
              small Name
              br
              input.form-control(type='text', name='name')
              br
            .col-xs-4.col-sm-4.col-md-2.col-lg-2(style='padding:0px;padding-left:10px')
              small Weight
              br
              select.form-control(name='weight', type='input', required)
                option.active 0
                option 1
                option 2
                option 3
                option 4
                option 5
                option 6
                option 7
                option 8
                option 9
                option 10
              br
            small Description
            br
            textarea.form-control(type='textarea', name='description', style='min-height:150px;')
            br
          .modal-footer
            button.btn.btn-inverse(type='button', data-dismiss='modal') Cancel
            button.btn.btn-default(type='submit') Save
  
mixin taskCard(task)
  li.col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding-top:0px;padding-bottom:20px;height:100%;', dropzone="move s:text/plain s:text/html", ondrop="storyToTask(event)")
    .panel.panel-default.task-item(id=task.id, style='background:#f9f9f9;')
      .col-xs-6.col-sm-6.col-md-6.col-lg-6(style='margin:0px; padding:0px;')
        h5(style='margin:0px; padding:0px;') #{task.name}
      .col-xs-6.col-sm-6.col-md-6.col-lg-6(style='margin:0px; padding:0px;')
        a.pull-right(href'#', style='color:#494949;;margin-bottom:0px; padding-bottom:0px;')
          span.glyphicon.glyphicon-edit
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;') 
        small(style='margin-top:0px;padding-top:0px;') 
          b Status:   
          |   #{task.status}
        br
      br
      br
      br
      small #{task.description}
      br

mixin storyCard(story)
  li.col-xs-6.col-sm-6.col-md-4.col-lg-4(style='margin:0px;padding-top:0px;padding-bottom:15px;')
    .panel.panel-default.story-item(id=story.id, draggable='true')
      .col-xs-6.col-sm-6.col-md-6.col-lg-6(style='margin:0px; padding:0px;')
        h5(style='margin:0px; padding:0px;') #{story.name}
      .col-xs-6.col-sm-6.col-md-6.col-lg-6(style='margin:0px; padding:0px;')
        a.pull-right(href'#', style='color:#494949;margin-bottom:0px; padding-bottom:0px;')
          span.glyphicon.glyphicon-edit
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;') 
        small(style='margin-top:0px;padding-top:0px;') 
          b Status:   
          |   #{story.status}
        br
      br
      br
      br
      small #{story.description}
      br
      if story.weight
        br
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .panel.panel-default
            .panel-heading(style='margin:0px;padding:0px;')
              h6.middle Weight
            .panel-body(style='margin:0px;padding:0px;')
              p.middle(style='margin:0px;padding:0px;') #{story.weight}
        br
        br
        
mixin projectItems()
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    h3 Manage Project Items
  .col-xs-4.col-sm-4.col-md-3.col-lg-3(style='background:#fdfdfd;border-radius:5px;padding:0px 10px;')
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      h5 
        span.glyphicon.glyphicon-th-large   
        |   Task  
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      +taskForm()
      a.pull-right(href'#', style='color:#494949;margin-top:10px;', data-toggle='modal', data-target='#task-form')
        span.glyphicon.glyphicon-plus-sign   
    ul#task-list.list-inline.col-xs-12.col-sm-12.col-md-12.col-lg-12
      for task in project.task
        +taskCard(task)
      br
      br
  .col-xs-8.col-sm-8.col-md-9.col-lg-9
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      h5.pull-left 
        span.glyphicon.glyphicon-th   
        |   Stories
        br
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      +storyForm()
      a.pull-right(href'#', style='color:#494949;margin-top:10px;', data-toggle='modal', data-target='#story-form')
        span.glyphicon.glyphicon-plus-sign  
        br
    ul#story-list.list-inline.col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;')
      for story in project.stories
        +storyCard(story)
      br
      br

   
mixin sprints() 
  .col-xs-12.col-sm-6.col-md-4.col-lg-4
    .panel.panel-default(style='padding:5px 10px;min-height:175px;')
      .col-xs-9.col-sm-9.col-md-9.col-lg-9
        h4(style='margin-bottom:0px;padding-bottom:0px;') #{project.iteration[0].name}
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        a.pull-right(href'#', style='color:#494949;margin-top:10px;')
          span.glyphicon.glyphicon-edit
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        small.text-muted(style='margin:0px;padding:0px;') #{project.iteration[0].start.getMonth() + 1}-#{project.iteration[0].start.getDate()}-#{project.iteration[0].start.getFullYear().toString().substr(2,2)} through #{project.iteration[0].stop.getMonth() + 1}-#{project.iteration[0].stop.getDate()}-#{project.iteration[0].stop.getFullYear().toString().substr(2,2)}
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        small Status: #{project.iteration[0].status}
        br
        br
        .col-xs-6.col-sm-6.col-md-6.col-lg-6
          .panel.panel-default
            .panel-heading(style='margin:0px;padding:0px;')
              h4.middle Task
            .panel-body(style='margin:0px;padding:0px;')
              p.middle(style='margin:0px;padding:0px;') 4
        .col-xs-6.col-sm-6.col-md-6.col-lg-6
          .panel.panel-default
            .panel-heading(style='margin:0px;padding:0px;')
              h4.middle Stories
            .panel-body(style='margin:0px;padding:0px;')
              p.middle(style='margin:0px;padding:0px;') 100
  .col-xs-12.col-sm-6.col-md-4.col-lg-4
    .panel.panel-default(style='padding:5px 10px;min-height:175px;')
      .col-xs-9.col-sm-9.col-md-9.col-lg-9
        h4(style='margin-bottom:0px;padding-bottom:0px;') #{project.iteration[1].name}
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        a.pull-right(href'#', style='color:#494949;margin-top:10px;')
          span.glyphicon.glyphicon-edit
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        small.text-muted(style='margin:0px;padding:0px;') #{project.iteration[1].start.getMonth() + 1}-#{project.iteration[1].start.getDate()}-#{project.iteration[1].start.getFullYear().toString().substr(2,2)} through #{project.iteration[1].stop.getMonth() + 1}-#{project.iteration[1].stop.getDate()}-#{project.iteration[1].stop.getFullYear().toString().substr(2,2)}
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        small Status: #{project.iteration[1].status}
        br
        br
        .col-xs-6.col-sm-6.col-md-6.col-lg-6
          .panel.panel-default
            .panel-heading(style='margin:0px;padding:0px;')
              h4.middle Task
            .panel-body(style='margin:0px;padding:0px;')
              p.middle(style='margin:0px;padding:0px;') 3
        .col-xs-6.col-sm-6.col-md-6.col-lg-6
          .panel.panel-default
            .panel-heading(style='margin:0px;padding:0px;')
              h4.middle Stories
            .panel-body(style='margin:0px;padding:0px;')
              p.middle(style='margin:0px;padding:0px;') 130
  .col-xs-12.col-sm-12.col-md-4.col-lg-4
    .panel.panel-default(style='padding:5px 10px;min-height:175px;')
      .col-xs-9.col-sm-9.col-md-9.col-lg-9
        h4(style='margin-bottom:0px;padding-bottom:0px;') #{project.iteration[2].name}
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        a.pull-right(href'#', style='color:#494949;margin-top:10px;')
          span.glyphicon.glyphicon-edit
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        small.text-muted(style='margin:0px;padding:0px;') #{project.iteration[2].start.getMonth() + 1}-#{project.iteration[2].start.getDate()}-#{project.iteration[2].start.getFullYear().toString().substr(2,2)} through #{project.iteration[2].stop.getMonth() + 1}-#{project.iteration[2].stop.getDate()}-#{project.iteration[2].stop.getFullYear().toString().substr(2,2)}
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        small Status: #{project.iteration[2].status}
        br
        br
        .col-xs-6.col-sm-6.col-md-6.col-lg-6
          .panel.panel-default
            .panel-heading(style='margin:0px;padding:0px;')
              h4.middle Task
            .panel-body(style='margin:0px;padding:0px;')
              p.middle(style='margin:0px;padding:0px;') 3
        .col-xs-6.col-sm-6.col-md-6.col-lg-6
          .panel.panel-default
            .panel-heading(style='margin:0px;padding:0px;')
              h4.middle Stories
            .panel-body(style='margin:0px;padding:0px;')
              p.middle(style='margin:0px;padding:0px;') 170


mixin newProjectDetail()
  .col-xs-4.col-sm-4.col-md-2.col-lg-2
    small Status
    br
    select.form-control(name='status', type='input', required)
      option.active Active
      option Pending
    br
  .col-xs-8.col-sm-8.col-md-4.col-lg-4
    small Name
    br
    input.form-control(type='text', name='name')
    br
  .col-xs-12.col-sm-12.col-md-6.col-lg-6
    small Duration
    br
    .col-xs-12.col-sm-6.col-md-6.col-lg-6(style='margin:0px;padding:0px;')
      .input-group(style='margin-right:10px;')
        .input-group-addon Start
        input.form-control(type='date', name='start')
      br
    .col-xs-12.col-sm-6.col-md-6.col-lg-6(style='margin:0px;padding:0px;')
      .input-group(style='padding-left:10px;')
        .input-group-addon Stop  
        input.form-control(type='date', name='stop')
      br
  .col-xs-12.col-sm-12.col-md-4.col-lg-4
    small Description
    br
    textarea.form-control(type='textarea', name='description', style='min-height:150px;max-width:100%;')
    br
    br
  .col-xs-12.col-sm-12.col-md-8.col-lg-8
    small(style='padding:20px 0px;') Vision
    br
    textarea.form-control(type='textarea', name='vision', style='min-height:150px;max-width:100%;')
    br
    br
    button.btn.btn-lg.btn-default.pull-right(type='sybmit') Submit
    button.btn.btn-lg.btn-inverse.pull-right(type='sybmit', style='margin-right:20px;') Cancel
          
mixin projectDetail()
  .col-xs-4.col-sm-4.col-md-2.col-lg-2(style='margin:0px;padding:0px;')
    small Status
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      h4 #{project.status}
  .col-xs-8.col-sm-8.col-md-4.col-lg-4(style='margin:0px;padding:0px;')
    small Name
    br
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      h4 #{project.name}
  .col-xs-12.col-sm-12.col-md-6.col-lg-6(style='margin:0px;padding:0px;')
    small Duration
    br
    .col-xs-4.col-sm-2.col-md-2.col-lg-2
      h4 Start
    .col-xs-8.col-sm-4.col-md-4.col-lg-4
      h4(style='font-weight:normal;') #{project.start.getMonth() + 1}-#{project.start.getDate()}-#{project.start.getFullYear().toString().substr(2,2)} 
    .col-xs-4.col-sm-2.col-md-2.col-lg-2
      h4 Stop
    .col-xs-8.col-sm-4.col-md-4.col-lg-4
      h4(style='font-weight:normal;') 05-10-15 
  .col-xs-12.col-sm-12.col-md-4.col-lg-4(style='margin:0px;padding:20px 0px;')
    small Description
    br
    .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding-top: 20px;')
      p(style='font-size:small;') #{project.description}
    br
    br
  .col-xs-12.col-sm-12.col-md-8.col-lg-8(style='margin:0px;padding:20px 0px;')
    small(style='padding:20px 0px;') Vision
    br
    .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding-top: 20px;')
      p(style='font-size:small;') #{project.vision}
    br
    br
  .col-xs-12.col-sm-6.col-md-6.col-lg-6(style='margin:0px;padding:20px 0px;min-height:100px;')
    small Diagrams
    br
    a(href='#')
      span.skill-pill
        span.endorse-item-name
          span.endorse-item-name-text dbms.pdf
    a(href='#')
      span.skill-pill
        span.endorse-item-name
          span.endorse-item-name-text user-story-map.pdf
  .col-xs-12.col-sm-6.col-md-6.col-lg-6(style='margin:0px;padding:20px 0px;min-height:100px;')
    small Documents
    br
    a(href='#')
      span.skill-pill
        span.endorse-item-name
          span.endorse-item-name-text srs.pdf
          
mixin manager()
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    h1 Project Management
  .col-xs-6.col-sm-6.col-md-6.col-lg-6
    h3 Details
  .col-xs-6.col-sm-6.col-md-6.col-lg-6
    a.pull-right(href'#', style='color:#494949;margin-top:30px;')
      span.glyphicon.glyphicon-edit
  .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin-bottom:30px;')
    form#sdl-form(action='/', method='POST')
      +projectDetail()
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    +sprints()
                 
//-HTML content to display.
block content
  if project
    #main.jumbotron
      .container
        .row
          +manager()
    section
      #manage.container
        .row
          +projectItems()
  else
    section#main
      .container
        .row
          h1 Create Project
          form#create-project-form(action='/project/create', method='POST')
            +newProjectDetail()
            
        
        
        
          