mixin article(blog)
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    h2(style='margin-bottom:0px;') #{blog.article.title}
    small.text-muted(style='margin-top:0px;') #{monthNames[blog.written.getMonth()]} #{blog.written.getDate()}, #{blog.written.getFullYear()}
    br      
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    br
    if blog.article.image
      img.img-rounded.pull-left(src=blog.article.image, style='max-width:100%;height:auto;margin-right:10px;margin-bottom:10px;')
    != blog.article.description
    br
  .col-xs-6.col-sm-7.col-md-8.col-lg-8(style='padding-top:35px;')
    |    
    script.pull-left(type="IN/Share", style='margin:5px;float:left;')
    |    
    a.pull-left.twitter-share-button(href="https://twitter.com/share", data-count='none', style='margin:5px;float:left;') Tweet
    |    
    .g-plusone.pull-left(data-size="medium", data-annotation="none", style='margin:5px;float:left;')
    |    
    .fb-like.pull-left(data-send="true",  data-show-faces="false", data-layout="button", style='margin:0px 3px;')
    |   
  .col-xs-12.col-sm-5.col-md-4.col-lg-4
    .panel.panel-default(style='padding:0px;')
      .panel-body(style='padding:10px 0;')
        .col-xs-2.col-sm-5.col-md-5.col-lg-5
          h5 Author
          if blog.edit.last
            h6 Edited
        .col-xs-10.col-sm-7.col-md-7.col-lg-7
          h5.text-muted 
            a.text-muted(href='#') #{blog.author} 
          if blog.edit.last
            h6.text-muted #{blog.edit.last}
    br
  .col-xs-12.col-sm-12.col-md-12.col-lg-12 
    br  
  br  
  
mixin articleShort(blog)
  a(href='/blog/' + blog.id)
    .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding-bottom:5px;')
      h3(style='margin-bottom:0px;') #{blog.article.title}
      small.text-muted #{monthNames[blog.written.getMonth()]} #{blog.written.getDate()}, #{blog.written.getFullYear()} 
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    if blog.article.description.length > 299
      .marked.text-muted!= blog.article.description.substring(0, 300)
        if blog.article.image
          img.img-rounded.pull-left(src=blog.article.image, style='max-width:10%;height:auto;margin-right:10px;margin-bottom:10px;')
        | ...  
        a(href='/blog/' + blog.id) [ + more ]
    else
      p.text-muted
        if blog.article.image
          img.img-rounded.pull-left(src=blog.article.image, style='max-width:10%;height:auto;margin-right:10px;margin-bottom:10px;')
        != blog.article.description
    br
  br  
  
mixin newComment()
  if user.credentials.type != 'guest'
    form(action='/blog/create/comment', method='POST', role='form')
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding:0 50px;')
        hr
        br
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          input.form-control(name='id', type='hidden', value=blog.id)
          if blog.notice.id
            input.form-control(name='blog', type='hidden', value=blog.notice.id)
          else 
            input.form-control(name='blog', type='hidden', value=blog.id)
          input.form-control(name='author', type='hidden', value=user.credentials.alias)
          textarea.form-control(name='description', type='textarea', rows=3, required)
          br
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          button.btn.btn-primary.btn-md.pull-right(type='submit') Add Comment
          br
  else
    .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding:0 30px;')
      small 
        +signIn()   
        |  or 
        +register()  
        |  a account to leave a comment.
        
mixin popularArticles()
  br
  h4 Popular Articles
  if top
    ul.list-group.inverse
      for rank in top
        li.list-group-item
          a.text-muted(href='/blog/' + rank.id) #{rank.article.title}
  else
    small
      b None
    br
    
mixin articles(blogs)
  if blogs
    for blog in blogs
      +articleShort(blog)
  else
    small
      b Tell the Administrators to get crackin!
    br
  br
  
mixin blog()
  if blog
    +article(blog)
    +newComment()
    .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding:0 50px;')
      hr
      br
      h5 Comments
      for comment in blog.comment
        .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding-bottom:20px;') 
          small
            b #{comment.author} 
          small.text-muted ( #{monthNames[comment.written.getMonth()]} #{comment.written.getDate()}, #{comment.written.getFullYear()} )
          br
          p #{comment.description}
  else
    small 
      b Article Not Found!
      
mixin newBlog()
  if !blog
    -var blog = {type:'site',tags:'',notice:{visits:0,favorites:0},article:{title:'',description:'',image:''}};
  form(action='/blog/create', method='POST', role='form',  enctype="multipart/form-data")
    if blog.id
      input.form-control(type='hidden', name='id', value=blog.id)
    if blog.edit
      input.form-control(type='hidden', name='editId', value=blog.edit.id)
      input.form-control(type='hidden', name='last', value=new Date())
    input.form-control(type='hidden', name='type', value=blog.type)
    input.form-control(type='hidden', name='visits', value=blog.notice.visits, required)
    input.form-control(type='hidden', name='favorites', value=blog.notice.favorites, required)
    .col-xs-12.col-sm-4.col-md-3.col-lg-3
      label(for='image') Title Image
      input(name='image', type='file', value=blog.article.image)
      br
    .col-xs-12.col-sm-8.col-md-9.col-lg-9
      label(for='title') Title
      input.form-control(name='title', type='input', value=blog.article.title, required)
      br
    if !blog.edit
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        small Back-date this article 
          a(href='#') click here
        | .
        br
        br
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      label(for='description') Description
      textarea.form-control(name='description', data-provide='markdown', rows='15', value=blog.article.description, required)
      br
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      label(for='tags') Tags
      input.form-control(name='tags', type='input', value=blog.tags)
      br
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      button.btn.btn-primary.btn-lg.pull-right(type='submit') Submit 
      button.btn.btn-default.btn-lg.pull-right(type='reset', style='margin-right:10px;') Clear 
      br
      
mixin recentArticles()
  br
  h4 Recent Articles
  if recent
    ul.list-group
      for post in recent
        li.list-group-item 
          a(href='/blog/' + post.id).text-muted #{post.article.title}
  else
    small
      b Get Started & Post Something!
    br
    
mixin blogViews(notice)
  br
  .panel.panel-default.hide-md
    .panel-heading.panel-body
      .col-xs-2.col-sm-2.col-md-5.col-lg-5
        h4 Views
      .col-xs-10.col-sm-10.col-md-7.col-lg-7
        h4.text-muted #{notice.visits}
      