mixin newTask()
  form(action='/project/create/task', method='POST')
    #task-form.modal.fade(tabindex='-1', role='dialog', aria-labelledby='taskLabel', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;
              span.sr-only Close
            h3#taskLabel.modal-title New Task
          .modal-body
            +taskForm()
          .modal-footer
            +formProcessBtn()

mixin newStory()
  form(action='/project/create/story', method='POST')
    #story-form.modal.fade(tabindex='-1', role='dialog', aria-labelledby='storyLabel', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;
              span.sr-only Close
            h3#storyLabel.modal-title New Story
          .modal-body
            +storyForm()
          .modal-footer
            +formProcessBtn()

mixin editProject()
  form(action='/project/update', method='POST')
    #edit-project-form.modal.fade(tabindex='-1', role='dialog', aria-labelledby='projectEditLabel', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-body
            +projectForm()
            +formProcessBtn()

mixin editSprint()
  form(action='/project/update/iteration', method='POST')
    #edit-sprint-form.modal.fade(tabindex='-1', role='dialog', aria-labelledby='sprintEditLabel', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-body
            +sprintForm()
            br
            +formProcessBtn()

mixin editTask()
  form(action='/project/update/task', method='POST')
    #edit-task-form.modal.fade(tabindex='-1', role='dialog', aria-labelledby='EditLabel', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-body
            +taskForm()
            +formProcessBtn()
            
mixin editStory()
  form(action='/project/update/story', method='POST')
    #edit-story-form.modal.fade(tabindex='-1', role='dialog', aria-labelledby='storyEditLabel', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-body
            +storyForm()
            +formProcessBtn()

mixin taskCard(task, taskPos)
  - function indexOfIteration(iterations, searchTerm) {
  -     for(var i = 0, len = iterations.length; i < len; i++) {
  -         if (iterations[i].id.toString() == searchTerm.toString()) return i;
  -     }
  -     return -1;
  - }
  li.col-xs-6.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:3px;padding-top:0px;', dropzone="move s:text/plain s:text/html")
    .panel.panel-default.task-item(id=task.id, status=task.status, style='background:#f9f9f9;', draggable='true')
      .col-xs-6.col-sm-6.col-md-6.col-lg-6(style='margin:0px; padding:0px;')
        h5(style='margin:0px; padding:0px;') #{task.name}
      .col-xs-6.col-sm-6.col-md-6.col-lg-6(style='margin:0px; padding:0px;')
        a.pull-right#task-edit(href'#', style='color:#494949;margin-bottom:0px; padding-bottom:0px;', data-toggle='modal', data-target='#edit-task-form', data-id=taskPos)
          span.glyphicon.glyphicon-edit
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;margin-bottom:10px;') 
        if task.iteration 
          - var pos = indexOfIteration(project.iteration, task.iteration);
          .col-xs-12.col-sm-5.col-md-5.col-lg-4(style='margin:0px; padding:0px;')
            small(style='margin-top:0px;padding-top:0px;') 
              b Assigned:
          .col-xs-12.col-sm-7.col-md-7.col-lg-8(style='margin:0px; padding:0px;')
            small(style='color:#64a964;margin-top:0px;padding-top:0px;') #{project.iteration[pos].name}
      br
      small #{task.description}
      - var pad;
      if !task.description
        - pad = 'padding-bottom:5px;'; 
      h5(style=pad)
        span.label.label-default.pull-left(style='margin-right:5px;')  #{task.status}
        span.label.label-default.pull-right(style='margin-left:5px;', id=task.id.toString() + '-stories')
        span.label.label-info.pull-right(id=task.id.toString() + '-weight')
      br
      if !task.description
        br
        
mixin storyCard(story, storyPos)
  - function indexOfTask(tasks, searchTerm) {
  -     for(var i = 0, len = tasks.length; i < len; i++) {
  -         if(tasks[i].id.toString() == searchTerm.toString()) return i;
  -     }
  -     return -1;
  - }  
  li.col-xs-6.col-sm-6.col-md-4.col-lg-4.pull-left(style='margin:0px;padding:5px;padding-top:0px;')
    .panel.panel-default.story-item(id=story.id, status=story.status, draggable='true')
      .col-xs-6.col-sm-6.col-md-6.col-lg-6(style='margin:0px; padding:0px;')
        h5(style='margin:0px; padding:0px;') #{story.name}
      .col-xs-6.col-sm-6.col-md-6.col-lg-6(style='margin:0px; padding:0px;')
        a.pull-right#story-edit(href'#', style='color:#494949;margin-bottom:0px; padding-bottom:0px;', data-toggle='modal', data-target='#edit-story-form', data-id=storyPos)
          span.glyphicon.glyphicon-edit
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;margin-bottom:10px;') 
        if story.task
          - var pos = indexOfTask(project.task, story.task);
          .col-xs-12.col-sm-4.col-md-4.col-lg-3(style='margin:0px; padding:0px;')
            small(style='margin-top:0px;padding-top:0px;') 
              b Assigned:  
          .col-xs-12.col-sm-8.col-md-8.col-lg-9(style='margin:0px; padding:0px;')
            small(style='color:#64a964;margin-top:0px;padding-top:0px;')  #{project.task[pos].name}
      small #{story.description}
      br
      h5(style='padding-bottom:10px;')
        span.label.label-default.pull-left(style='margin-right:10px;') #{story.status}
        if story.weight  
          span.label.label-info.pull-right 
            span.glyphicon.glyphicon-scale    
            |    #{story.weight}
      
mixin projectItems()
  .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;padding-bottom:20px;')
    h3 Manage Project Items
  .col-xs-12.col-sm-4.col-md-3.col-lg-3.well
    .col-xs-6.col-sm-6.col-md-6.col-lg-6(style='margin-left:0px;padding-left:0px;')
      h5 
        span.glyphicon.glyphicon-th-large   
        |   Task  
    .col-xs-6.col-sm-6.col-md-6.col-lg-6(style='margin:0px;padding:0px;')
      +newTask()
      a.pull-right.new-form(href'#', style='color:#494949;margin-top:10px;', data-toggle='modal', data-target='#task-form')
        span.glyphicon.glyphicon-plus-sign   
    +editTask()
    ul#task-list.list-inline.col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;')
      - var taskPos = 0;
      for task in project.task
        +taskCard(task, taskPos)
        - taskPos++;
  .col-xs-12.col-sm-8.col-md-9.col-lg-9(style='margin-right:0px;padding-right:0px;')
    br
    .col-xs-6.col-sm-6.col-md-6.col-lg-6(style='margin:0px;padding:0px;')
      h5.pull-left 
        span.glyphicon.glyphicon-th   
        |   Stories
        br
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      +newStory()
      a.pull-right.new-form(href'#', style='color:#494949;margin-top:10px;', data-toggle='modal', data-target='#story-form')
        span.glyphicon.glyphicon-plus-sign  
        br
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      +editStory()
      ul#story-list.list-inline
        - var storyPos = 0;
        for story in project.stories
          +storyCard(story, storyPos)
          - storyPos++

mixin sprint(pos) 
  .col-xs-12.col-sm-6.col-md-4.col-lg-4
    .panel.panel-default.iteration-item(id=project.iteration[pos].id, status=project.iteration[pos].status, style='padding:10px 20px 5px 20px;', dropzone="move s:text/plain s:text/html")
      .col-xs-2.col-sm-2.col-md-3.col-lg-2(style='margin:0px;padding:0px;')
        img(src='/images/sprint.png', style='height:auto;width:45px;margin:2px;margin-bottom:0px;margin-left:0px;')
      .col-xs-8.col-sm-8.col-md-7.col-lg-8(style='margin:0px;padding:0px;')
        h4(style='margin-bottom:0px;padding-bottom:0px;') #{project.iteration[pos].name}
      .col-xs-2.col-sm-2.col-md-2.col-lg-2(style='margin:0px;padding:0px;')
        a.pull-right#sprint-edit(href'#', style='color:#494949;margin-top:10px;', data-toggle='modal', data-target='#edit-sprint-form', data-id=pos)
          span.glyphicon.glyphicon-edit
      small.text-muted(style='margin:0px;padding:0px;')   #{project.iteration[pos].start.getMonth() + 1}-#{project.iteration[pos].start.getDate()}-#{project.iteration[pos].start.getFullYear().toString().substr(2,2)} through #{project.iteration[pos].stop.getMonth() + 1}-#{project.iteration[pos].stop.getDate()}-#{project.iteration[pos].stop.getFullYear().toString().substr(2,2)}
      br
      small(style='margin-top:25px;') Work Product
      br
      if !project.iteration[pos].product
        small None
      else 
        small #{project.iteration[pos].product}
      br
      h4(style='margin:0px;padding:0px; padding-top:15px;')
        span.label.label-default.pull-left(style='margin-right:5px;')  #{project.iteration[pos].status}
        span.label.label-default.pull-right(id='sprint' + (pos + 1) + '-stories',style='margin-left:5px;')
        span.label.label-default.pull-right(id='sprint' + (pos + 1) + '-task', style='margin-left:5px;')
        span.label.label-info.pull-right(id=project.iteration[pos].id.toString() + '-weight')
      br
      br

mixin sprints()
  +editSprint() 
  +sprint(0)
  +sprint(1)
  +sprint(2)
          
mixin projectDetail()
  .col-xs-4.col-sm-4.col-md-2.col-lg-2(style='margin:0px;padding:0px;')
    small Status
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      h4 #{project.status}
  .col-xs-8.col-sm-8.col-md-4.col-lg-4(style='margin:0px;padding:0px;')
    small Name
    br
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      h4 #{project.name}
  .col-xs-12.col-sm-12.col-md-6.col-lg-6(style='margin:0px;padding:0px;')
    small Duration
    br
    .col-xs-4.col-sm-2.col-md-2.col-lg-2
      h4 Start
    .col-xs-8.col-sm-4.col-md-4.col-lg-4
      h4(style='font-weight:normal;') #{project.start.getMonth() + 1}-#{project.start.getDate()}-#{project.start.getFullYear().toString().substr(2,2)} 
    .col-xs-4.col-sm-2.col-md-2.col-lg-2
      h4 Stop
    .col-xs-8.col-sm-4.col-md-4.col-lg-4
      h4(style='font-weight:normal;')  #{project.stop.getMonth() + 1}-#{project.stop.getDate()}-#{project.stop.getFullYear().toString().substr(2,2)} 
  .col-xs-12.col-sm-12.col-md-4.col-lg-4(style='margin:0px;padding:20px 0px;')
    small Description
    br
    .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding-top: 20px;')
      p(style='font-size:small;') #{project.description}
    br
    br
  .col-xs-12.col-sm-12.col-md-8.col-lg-8(style='margin:0px;padding:20px 0px;')
    small(style='padding:20px 0px;') Vision
    br
    .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding-top: 20px;')
      p(style='font-size:small;') #{project.vision}
    br
    br
  .col-xs-12.col-sm-6.col-md-6.col-lg-6(style='margin:0px;padding:20px 0px;min-height:100px;')
    small Diagrams
    br
    a(href='#')
      span.skill-pill
        span.endorse-item-name
          span.endorse-item-name-text dbms.pdf
    a(href='#')
      span.skill-pill
        span.endorse-item-name
          span.endorse-item-name-text user-story-map.pdf
  .col-xs-12.col-sm-6.col-md-6.col-lg-6(style='margin:0px;padding:20px 0px;min-height:100px;')
    small Documents
    br
    a(href='#')
      span.skill-pill
        span.endorse-item-name
          span.endorse-item-name-text srs.pdf
          
mixin manager()
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    h1 Project Management
  .col-xs-6.col-sm-6.col-md-6.col-lg-6
    h3 Details
  +editProject()
  .col-xs-6.col-sm-6.col-md-6.col-lg-6
    a.pull-right#project-edit(href'#', style='color:#494949;margin-top:30px;', data-toggle='modal', data-target='#edit-project-form')
      span.glyphicon.glyphicon-edit
  .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin-bottom:30px;')
    +projectDetail()
  .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding:0px;')
    +sprints()
           