// Chart mixins
mixin questionPieChart(Obj)
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.middle(id='pie_chart_' + Obj.id, style='margin:0px;padding:0px;')
    - var graphCol = [];
    - var total = {};
    - var pos = 1; 
    for i in Obj.options
      - total['A' + pos ] = [i.selected];
      - pos++;
    script var pie = c3.generate({bindto: '#pie_chart_#{Obj.id}',data: {json: !{JSON.stringify(total)}}, size:{height:230}}).transform('donut');


mixin questionBarChart(Obj)
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.middle(id='bar_graph_' + Obj.id, style='margin:0px;padding:0px;')
    - var graphCol = [];
    - var total = {};
    - var pos = 1; 
    for i in Obj.options
      - total['A' + pos ] = [i.selected];
      - pos++;
    script c3.generate({bindto: '#bar_graph_#{Obj.id}',data: {json: !{JSON.stringify(total)}, type : 'bar'}, size:{height:230}}).transform('bar');
    

mixin questionResponseRate(Obj) 
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.middle(id='rrate_guage_' + Obj.id, style='margin:0px;padding:0px;')
    script c3.generate({bindto: '#rrate_guage_#{Obj.id}',data: {columns: [['data', !{(Obj.selected/survey.responded) * 100}]],type: 'gauge'},color: {pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'],threshold: {values: [30, 60, 90, 100]}},size: {width: 230}});

mixin questionScatterChart(Obj)
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.middle(id='sca_plot_' + Obj.id, style='margin:0px;padding:0px;')
  
mixin questionBellCurve(Obj)
  small(style='opacity:0.3;') 
 
 
// Stat mixins
mixin respondantAverages(Obj)
  .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;')
    small(style='opacity:0.3;') Respondant Averages

    
  
mixin questionTotals(Obj)
  .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;margin-top:10px;padding:0px;')
    //small(style='opacity:0.3;margin:0px;padding:0px;') Selection Average
    br
    .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:10px;padding:0px;')
      if Obj.type !== 'opinion'
        - var pos = 1;
        .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding-left:0px;opacity:0.7;')
          .list-group
            for i in Obj.options
              a.list-group-item(href='#!')
                if i.selected
                  span.badge #{i.selected}
                else
                  span.badge 0
                h5(style='margin:0px;padding:0px;') A
                  small #{pos} ) 
                  |    
                  if i.option != 'open' 
                    small #{i.response}
                  else
                    small #{i.label}
              - pos++;
      else
        small(style='opacity:0.3;') Sentiment
        br
        if Obj.options[0].score
          p(style='padding-right:15px;opacity:0.7;') The cumalitive sentiment of people who gave feedback to this question was:
          - var cumalitive = Obj.options[0].score;
          - cumalitive.shift();
          br
          h1.middle(id='sent_#{Obj.id.toString()}', style='opacity:0.7;')
          script var cumalitive = d3.mean([!{cumalitive}]);console.log(cumalitive);if(cumalitive > 7) $('#sent_#{Obj.id.toString()}').html('Very Positive'); else if(cumalitive > 5) $('#sent_#{Obj.id.toString()}').html('Positive'); else if(cumalitive > 3) $('#sent_#{Obj.id.toString()}').html('Slightly Positive'); else if(cumalitive > 1) $('#sent_#{Obj.id.toString()}').html('Slightly Neutral'); else if(cumalitive > -1) $('#sent_#{Obj.id.toString()}').html('Neutral'); else if(cumalitive > -3) $('#sent_#{Obj.id.toString()}').html('Almost Neutral'); else if(cumalitive > -4) $('#sent_#{Obj.id.toString()}').html('Slightly Negative'); else if(cumalitive > -6) $('#sent_#{Obj.id.toString()}').html('Negative'); else if(cumalitive > -8) $('#sent_#{Obj.id.toString()}').html('Very Negative');
        else
          p There has been no response to place analysis on.
  
// Question Result Components
mixin questionChart(Obj)
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .tabbable.tabs-left
        ul.nav.nav-tabs(style='opacity:0.5;')
          if Obj.type == 'single'
            li.active
              a(href='#pie_' + Obj.id.toString(), data-toggle="tab") Pie Chart
            li
              a(href='#bar_' + Obj.id.toString(), data-toggle="tab") Bar Graph
          if Obj.type == 'multi'
            li.active
              a(href='#bar_' + Obj.id.toString(), data-toggle="tab") Bar Graph
            li
              a(href='#pie_' + Obj.id.toString(), data-toggle="tab") Pie Chart
          if Obj.type == 'opinion'
            li.active
              a(href='#sca_' + Obj.id.toString(), data-toggle="tab") Sentiment
          li
            a(href='#rrate_' + Obj.id.toString(), data-toggle="tab") Response
        .tab-content(style='width:230px;padding-left:115px;')
          if Obj.type == 'single'
            .tab-pane.middle.active(id='pie_' + Obj.id.toString(), style='width:230px;')
              +questionPieChart(Obj)
            .tab-pane.middle(id='bar_' + Obj.id.toString(), style='width:230px;')
              +questionBarChart(Obj)
          else if Obj.type == 'multi'
            .tab-pane.middle.active(id='bar_' + Obj.id.toString(), style='width:230px;')
              +questionBarChart(Obj)
            .tab-pane.middle(id='pie_' + Obj.id.toString(), style='width:230px;')
              +questionPieChart(Obj)
          else if Obj.type == 'opinion'
            .tab-pane.middle.active(id='sca_' + Obj.id.toString(), style='width:230px;')
              +questionScatterChart(Obj)
              - console.log(Obj);
              script c3.generate({bindto: '#sca_plot_#{Obj.id}',data:{xs:{Relevance: 'Score',},columns:[!{JSON.stringify(Obj.options[0].score)},!{JSON.stringify(Obj.options[0].comparative)}],type:'scatter'},axis:{x:{max:10,min:-10,label:'SCORE',tick:{fit:false}},y:{max:1,min:0,show:false}},grid:{x:{lines:[{value: 0, text: 'Relavance', position: 'middle'}]}},legend:{show: false},size: {width: 230, height:160}});
          .tab-pane.middle(id='rrate_' + Obj.id.toString(), style='width:230px;')
            +questionResponseRate(Obj)
            
 
mixin questionStats(Obj)
  .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;')
    .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;')
      +questionTotals(Obj)
//    .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;')
//      +respondantAverages(Obj)
  
  
mixin questionHeader(pos, Obj)
  .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;')
    .col-xs-1.col-sm-1.col-md-1.col-lg-1(style='margin:0px;padding-left:10px;')
      h2(style='opacity:0.6;') Q
        small #{pos}
    .col-xs-10.col-sm-10.col-md-10.col-lg-10(style='margin:0px;padding-top:20px;')
      h4(style='opacity:0.6;font-weight:700;') #{Obj.question}
    .col-xs-1.col-sm-1.col-md-1.col-lg-1(style='margin:0px;padding-top:30px;')
      if Obj.type == 'single'
        img.pull-right(src='/images/survey/icon-single.png', style='opacity:0.3;')
      if Obj.type == 'multi'
        img.pull-right(src='/images/survey/icon-multi.png', style='opacity:0.3;')
      if Obj.type == 'opinion'
        img.pull-right(src='/images/survey/icon-opinion.png', style='opacity:0.3;')
//      button.close(type='button')
//        span.glyphicon.glyphicon-modal-window(aria-hidden='true', style='opacity:0.6;')
//        span.sr-only Close

mixin questionResult(pos, Obj)
  .row
    br
    .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='border-radius:20px; box-shadow: 0 0 2px rgba(0,0,0,0.2);')
      +questionHeader(pos, Obj)
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:10px 0px;padding:0px;width:100%;')
        hr(style='margin:0px;padding:0px;width:100%;')
      br
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px inherit;padding:0px;')
        .col-xs-12.col-sm-6.col-md-5.col-lg-4(style='margin:0px;padding:0px;')   
          +questionChart(Obj)
          br
        .col-xs-12.col-sm-6.col-md-7.col-lg-8(style='margin:0px;padding:0px;')
          +questionStats(Obj)
    