mixin userHeader()
  .row
    .media
      .media-left.profile-image.col-xs-4.col-sm-4.col-md-12.col-lg-12
        +userIcon()
        a.profile-image-btn(data-target='#profile-image-change', data-toggle='modal')
          img(src='/images/user/profile-image-btn.png')
      .media-body.col-xs-8.col-sm-8.col-md-12.col-lg-12(style='padding-left: 25px;padding-right:25px;')
        br
        h3.media-heading #{user.credentials.alias.charAt(0).toUpperCase() + user.credentials.alias.slice(1)} 
        if userType(user.authorizations) === 'admin'
          h5 Administrator
        else if userType(user.authorizations) === 'general'
          h5 Standard User
        hr
        br        
        i Please do not falsify information if you choose to provide it.
  block
  
mixin navItem(target, title)
  li
    a(href=target) #{title}  &nbsp; 
      block

mixin adminNav()
  block
  li.dropdown-header(style='padding:0px 10px;margin-bottom:0px;background:#f9f9f9;') Administrator Menu  
  li.divider(style='padding-top:0px;margin-top:0px;')
  li.dropdown-header Site Management
  +navItem('/blog/create', 'Blog Administration')
  block adminNav

mixin generalUserNav()
  block
  li.dropdown-header(style='padding:0px 10px;margin-bottom:0px;background:#f9f9f9;') Questionnaire Management
  li.divider(style='padding-top:0px;margin-top:0px;')
  +appUserLinks()

mixin guestNav()
  block
  li
    +register()

mixin signIn()
  a(role='menuitem', data-toggle='modal', data-target='#login-form-modal') Sign In
  
mixin register()
  a(role='menuitem', data-toggle='modal', data-target='#register-form-modal') Register Account
  
mixin userIcon()
  if user.detail.img
    //-TODO File server requirement
  else
    if user.detail.gender == 'male'
      img.img-rounded(src='/images/user/default-male.png', style='margin:0px;padding:0px;')
    else if user.detail.gender == 'female'
      img.img-rounded(src='/images/user/default-female.png', style='margin:0px;padding:0px;')
    else
      img.img-rounded(src='/images/user/default-profile.png', style='margin:0px;padding:0px;')
  block
  
mixin idField(name, id)
  if id != undefined
    input.form-control(name=name + 'Id', type='hidden', value=id)
  
mixin loginFields()
  .input-group
    .input-group-addon User &nbsp; &nbsp; &nbsp; &nbsp;
    input.form-control(name='user', type='input', data-toggle='tooltip', data-placement='bottom', title='', required, autofocus)
  br  
  .input-group
    .input-group-addon Password
    input.form-control(name='password', type='password', data-toggle='tooltip', data-placement='bottom', title='', required)
  br
    
mixin userCredentialFields()
  .col-xs-12.col-sm-6.col-md-6.col-lg-6
    .input-group.has-feedback
      .input-group-addon Email &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      input.form-control(name='email', type='email', required)
      span.form-control-feedback.glyphicon.glyphicon-ok-sign(style='display:none;padding-top:25px;', aria-hidden='true', data-toggle='tooltip', data-placement='top', title='Valid email.  We won\'t send you junk, promise.')
    br
  .col-xs-12.col-sm-6.col-md-6.col-lg-6
    .input-group
      .input-group-addon Login Name&nbsp;
      input.form-control(name='alias', type='input', required)
    br  
  .col-xs-12.col-sm-6.col-md-6.col-lg-6
    .input-group.has-feedback
      .input-group-addon Password &nbsp; &nbsp;
      input.form-control(name='password', type='password', required)
      span.glyphicon.glyphicon-ok-sign.form-control-feedback(style='display:none;padding-top:25px;', aria-hidden='true', data-toggle='tooltip', data-placement='bottom', title='This is a valid password. Now try to retype it.')
    small.pull-right Minimum of five characters and no spaces.
    br
  .retype-pass.col-xs-12.col-sm-6.col-md-6.col-lg-6
    .input-group.has-feedback
      .input-group-addon Retype Pass
      input.form-control(name='password_2', type='password', required)
      span.form-control-feedback.glyphicon.glyphicon-ok-sign(style='display:none;padding-top:25px;', aria-hidden='true', data-toggle='tooltip', data-placement='bottom', title='Match! Good job, you have a 3 second memory.')
    br

mixin userNameFields(data)
  - data = data ? data : {first: '', middle: '', last: ''};
  #user-name.col-xs-12.col-sm-12.col-md-12.col-lg-12.collapse.fade.in.active(style='margin:0px;padding:0px;')
    +idField('detail', data.id)
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      h5
        b Real Name
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      .input-group
        .input-group-addon First &nbsp; &nbsp;
        input.form-control(name='first', type='input', value=data.first)
      br
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      .input-group
        .input-group-addon Middle
        input.form-control(name='middle', type='input', value=data.middle)
      br
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .input-group
        .input-group-addon Last &nbsp; &nbsp;
        input.form-control(name='last', type='input', value=data.last)
      br
    
mixin userDetail(data)
  - data = data ? data : {birth: new Date(), gender: ''}; 
  #user-detail.col-xs-12.col-sm-12.col-md-12.col-lg-12.collapse.fade.in.active(style='margin:0px;padding:0px;')
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      h5
        b Personal Details
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      .input-group
        - var birth = data.birth ? data.birth.toISOString().substr( 0, 10 ) : '';
        .input-group-addon Born &nbsp; &nbsp;
        input.form-control(name='birth', type='date', value=birth)
      br
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      .input-group
        .input-group-addon Gender
        select.form-control(name='gender')
          option(value='decline') Decline
          option(value='male') Male
          option(value='female') Female
          option(value='trans') Transgender
          option(value='uni') Unisex
      br

mixin contactPhone(data)
  .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding:0px;')
    if data.type != 'home' && data.type != 'mobile'
      .col-xs-8.col-sm-8.col-md-9.col-lg-9(style='padding-left:0px;')
        .input-group
          .input-group-addon Phone &nbsp;&nbsp;
          input.form-control(name='phone' + data.type, type='tel', value=data.phone)  
        br
    else
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding-left:0px;padding-right:0px;')
        .input-group
          .input-group-addon Phone &nbsp;&nbsp;
          input.form-control(name='phone' + data.type, type='tel', value=data.phone)  
        br
    if data.type != 'home' && data.type != 'mobile'
      .col-xs-4.col-sm-4.col-md-3.col-lg-3(style='padding-right:0px;')
        .input-group 
          .input-group-addon Ext.
          input.form-control(name='ext' + data.type, type='input', value=data.ext)  
        br
        
mixin contactAddress(data)
  .col-xs-12.col-sm-6.col-md-6.col-lg-6(style='padding:0px;')
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding(style='padding-left:0px;')
      .input-group
        .input-group-addon Address 1
        input.form-control(name='addr' + data.type, type='input', value=data.addr)
      br
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding(style='padding-left:0px;')
      .input-group
        .input-group-addon Address 2
        input.form-control(name='addr_2' + data.type, type='input', value=data.addr_2)
      br
  .col-xs-12.col-sm-6.col-md-6.col-lg-6(style='padding:0px;')
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding(style='padding-right:0px;')
      .input-group
        .input-group-addon City &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; 
        input.form-control(name='city' + data.type, type='input', value=data.city)
      br
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding-left(style='padding-right:0px;')
      .col-xs-6.col-sm-6.col-md-6.col-lg-5(style='padding-left:0px;')
        .input-group
          .input-group-addon State 
          select.form-control(name='state' + data.type)
            option 
            option(value='AL') AL
            option(value='AK') AK
            option(value='AZ') AZ
            option(value='AR') AR
            option(value='CA') CA
            option(value='CO') CO
            option(value='CT') CT
            option(value='DE') DE
            option(value='DC') DC
            option(value='FL') FL
            option(value='GA') GA
            option(value='HI') HI
            option(value='ID') ID
            option(value='IL') IL
            option(value='IN') IN
            option(value='IA') IA
            option(value='KS') KS
            option(value='KY') KY
            option(value='LA') LA
            option(value='ME') ME
            option(value='MD') MD
            option(value='MA') MA
            option(value='MI') MI
            option(value='MN') MN
            option(value='MS') MS
            option(value='MO') MO
            option(value='MT') MT
            option(value='NE') NE
            option(value='NV') NV
            option(value='NH') NH
            option(value='NJ') NJ
            option(value='NM') NM
            option(value='NY') NY
            option(value='NC') NC
            option(value='ND') ND
            option(value='OH') OH
            option(value='OK') OK
            option(value='OR') OR
            option(value='PA') PA
            option(value='RI') RI
            option(value='SC') SC
            option(value='SD') SD
            option(value='TN') TN
            option(value='TX') TX
            option(value='UT') UT
            option(value='VT') VT
            option(value='VA') VA
            option(value='WA') WA
            option(value='WV') WV
            option(value='WI') WI
            option(value='WY') WY
        br
      .col-xs-6.col-sm-6.col-md-6.col-lg-7(style='padding-right:0px;')
        .input-group
          .input-group-addon Zip 
          input.form-control(name='zip' + data.type, type='input', value=data.zip)
        br
  
mixin contactMobile(data)
  .col-xs-6.col-sm-7.col-md-7.col-lg-7(style='padding:0px;')
    .input-group
      .input-group-addon Carrier  &nbsp; 
      input.form-control(name='carrier' + data.type, type='input', value=data.carrier)
    br
  +contactPhone(data)

mixin homeContactFields(data)
  #contact-home.tab-pane.fade.in.active(role='tabpanel')
    +idField(data.type, data.id)
    h6 Mailing
    +contactAddress(data)
    h6 Telephone
    +contactPhone(data)

mixin officeContactFields(data)
  #contact-office.tab-pane.fade(role='tabpanel')
    +idField(data.type, data.id)
    h6 Mailing
    +contactAddress(data)
    h6 Telephone
    +contactPhone(data)
    
mixin mobileContactFields(data)
  #contact-mobile.tab-pane.fade(role='tabpanel')
    +idField(data.type, data.id)
    h6 Mobile Information
    +contactMobile(data)

mixin userContact(data)
  - var contactObj = function(type){return {type:type, addr:'', addr_2:'', city:'', state:'', zip:'', phone:'', carrier:'', ext:''};};
  - data = data ? data : [contactObj('home'), contactObj('office'), contactObj('mobile')];
  #user-contact.col-xs-12.col-sm-12.col-md-12.col-lg-12.collapse.fade.in.active(role='tablist')
    h5
      b Contacts 
    ul.nav.nav-tabs
      li.active(role='presentation')
        a(href='#contact-home', aria-controls='Home Contact', role='tab', data-toggle='tab') Home
      li(role='presentation')
        a(href='#contact-office', aria-controls='Office Contact', role='tab', data-toggle='tab') Office
      li(role='presentation')
        a(href='#contact-mobile', aria-controls='Mobile Contact', role='tab', data-toggle='tab') Mobile
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.tab-content(style='padding-top:10px;')
      for i in data
        if i.type == 'home'
          +homeContactFields(i)        
        if i.type == 'office'
          +officeContactFields(i)
        if i.type == 'mobile'
          +mobileContactFields(i)
  
mixin navLinks()
  ul.nav.navbar-nav(style='margin:0px,padding:0px;')
    li
      a.navbar-links(href='/guide')  
        span.glyphicon.glyphicon-education  
        |   Guide   
    li
      a.navbar-links(href='/apidocs') 
        span.glyphicon.glyphicon-book  
        |   API Docs
          
mixin userOptions()
  ul.dropdown-menu(role='menu')
    if userType(user.authorizations) === 'admin' 
      +adminNav()
    else if userType(user.authorizations) === 'general'
      +generalUserNav()
    else
      li
        +signIn()
      li.divider
      +guestNav()
    if userType(user.authorizations) !== 'guest'
      li.divider  
      li.dropdown-header Options
      +navItem('/account', 'My Profile')
      +navItem('/authentication/logout','Sign Out')
        span.glyphicon.glyphicon-log-out
        
mixin navUser()
  ul.nav.navbar-nav.navbar-right
    if userType(user.authorizations) !== 'guest'
      li.dropdown(style='margin:0px;padding:0px;float:right;')
        a.nav-button.dropdown-toggle(data-toggle='dropdown', style='padding:0px 15px;padding-top:0px;padding-bottom:0px;margin:0px;')
          .nav-profile-name.pull-left(style='margin:0px;padding:4px 0px;')
            small(style='color:#ffffff;') Signed in as:    &nbsp;  
            .nav-user #{user.credentials.alias} &nbsp;  
          button.btn-link(type='button', style='padding:3px 0px;margin:0px;')
            .nav-profile-icon(style='padding:0px;margin:0px;')
              +userIcon() 
        +userOptions()
    if userType(user.authorizations) === 'guest'   
      li(style='margin:0px;')
        a.pull-right(data-toggle='modal', data-target='#register-form-modal') Sign up  
      li(style='margin:0px;padding:0px;')
        a.pull-right(data-toggle='modal', data-target='#login-form-modal') Sign in   
      //li.navbar-right(style='float:right;margin:0px;padding:0px;padding-top:8px;')
      //  form.navbar-form.hide-md(role='form', method='POST', action='/authentication', style='margin:0px;padding:0px;')
      //    input.form-control(name='user', type='input', placeholder='user', style='margin:0px;width:125px;')
      //    |  
      //    input.form-control(name='password', type='password', placeholder='pass', style='margin:0px;width:125px;')  
      //    |  
      //    button.btn.navbar-btn(type='submit', style='margin:0px;') Sign-in

mixin registerAcceptButtons()
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    .col-xs-5.col-sm-6.col-md-8.col-lg-8
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .checkbox.pull-left
          input(type='checkbox', name='agree')
          | I 
          u agree
          |  to 
          a(href='#') Terms.
    .col-xs-7.col-sm-6.col-md-4.col-lg-4(style='padding:0px;')
      .col-xs-6.col-sm-6.col-md-6.col-lg-6(style='padding:0px 10px 0px 0px;')
        button.btn.btn-lg.btn-inverse.pull-right(type='reset', data-dismiss='modal', style='width:100%;') Cancel
      .col-xs-6.col-sm-6.col-md-6.col-lg-6(style='padding:0px 0px 0px 10px;')
        button.btn.btn-lg.btn-default.pull-right(type='submit', style='width:100%;') Register
        
mixin selectProfilePhoto()
  .btn.btn-default.btn-file.btn-lg.pull-right
    p(style='margin:0px;') Select 
    input.form-control(type='file', value=user.detail.img)
  button.btn.btn-inverse.btn-lg.pull-left(type='button', data-dismiss='modal') Cancel
  
mixin adminProfileOptions()
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    hr
    br
    h4(style="margin-top:0px;") Administration Only
    input.form-control(type='hidden', name='userId', value=user.id) 
    h6
      b User Account Options
  .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;')
    .col-xs-2.col-sm-2.col-md-2.col-lg-1              
      .checkbox(style='margin-left:20px;')
        if user.credentials.active == 'true'
          input(type='checkbox', name='auth_active', checked) 
        else
          input(type='checkbox', name='auth_active') 
        | Active
      br
      br
    .col-xs-10.col-sm-10.col-md-10.col-lg-11
      .input-group
        .input-group-addon User Type
        select.form-control(name='auth_type')
          option(value='user') User
          option(value='admin') Admin
      br
      br
mixin saveEdits()
  br
  hr
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    button.btn.btn-default.btn-lg.pull-right(type='submit') Save 
    button.btn.btn-inverse.btn-lg.pull-right(type='reset', style='margin-right: 10px;') Undo 