mixin resetRegistrationFields()
  if retry.detail
    if retry.detail.first
      input.form-control(type='hidden', name='first', value=retry.detail.first)
    if retry.detail.middle
      input.form-control(type='hidden', name='middle', value=retry.detail.middle)
    if retry.detail.last
      input.form-control(type='hidden', name='last', value=retry.detail.last)
    if retry.detail.gender
      input.form-control(type='hidden', name='gender', value=retry.detail.gender)
    if retry.detail.birth
      input.form-control(type='hidden', name='birth', value=retry.detail.birth)
  if retry.social
    if retry.social.facebook.id
      input.form-control(type='hidden', name='facebook_user', value=retry.social.facebook.id)
      input.form-control(type='hidden', name='facebook_token', value=retry.social.facebook.token)
    if retry.social.linkedin.id
      input.form-control(type='hidden', name='linkedin_user', value=retry.social.linkedin.id)
    if retry.social.gplus.id
      input.form-control(type='hidden', name='gplus_user', value=retry.social.gplus.id)
      input.form-control(type='hidden', name='gplus_token', value=retry.social.gplus.token)
//  if retry.contact
//    if retry.contact.
//      input.form-control(type='hidden', value=retry.contact.)
  
mixin fixEmail()
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    form#fix-form-email(method='POST', action='/authentication/register')
      if retry.credentials.email
        p Try a different email.
      else 
        p No login name was provided.
      +resetRegistrationFields()
      +setAlias()
      - var email = retry.credentials.email ? retry.credentials.email : '';
      label(for='email') Email 
      input.form-control(type='input', name='email', value=email)    
      br
      button.btn.btn-lg(type='submit') Submit
    hr
    p 
      a(data-toggle='modal', data-target='#login-form-modal') Sign-in or reset password   
      |    for user account.
 //   if retry.social
 //     if retry.social.facebook.id || retry.social.linkedin.id || retry.social.gplus.id
 //       hr
 //       p Add social services to user account:
 //       br        
 //       form#fix-form-social-addition(method='POST', action='/authentication/register/add/social')
 //         +setUserId()
 //         +setAlias()
 //         +setEmail()
 //         +resetRegistrationFields()       
 //         button.btn.btn-lg(type='submit') Add Account

mixin fixAlias()
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    if retry.credentials.alias
      p The name you have chosen is taken.  
    else 
      p No login name was provided.
    form#fix-form-alias(method='POST', action='/authentication/register')
      +resetRegistrationFields()
      +setEmail()
      - var alias = retry.credentials.alias ? retry.credentials.alias : '';
      label(for='alias') Login Name
      input.form-control(type='input', name='alias', value=alias)
      br
      button.btn.btn-lg(type='submit') Submit
      
mixin fixEmailAlias()
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    form#fix-form-email-alias(method='POST', action='/authentication/register')
      +resetRegistrationFields()
      if retry.credentials.alias
        p The name you have chosen is taken.  
      else 
        p No login name was provided.
      - var email = retry.credentials.email ? retry.credentials.email : '';
      label(for='email') Email
      input.form-control(type='input', name='email', value=email, required)  
      if retry.credentials.alias
        p The name you have chosen is taken.  
      else  
        p No login name was provided.
      - var alias = retry.credentials.alias ? retry.credentials.alias : '';
      label(for='alias') Login Name
      input.form-control(type='input', name='alias', value=alias, required)
      br
      button.btn.btn-lg(type='submit') Submit
    
mixin setUserId()
  if retry.id
    input.form-control(type='hidden', value=retry.id, name='id')
  
mixin setEmail()
  input.form-control(type='hidden', value=retry.credentials.email, name='email')

mixin setAlias()
  input.form-control(type='hidden', value=retry.credentials.alias, name='alias')